<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>TAVERNA_CMD_HOME</param-name>
        <param-value>/Users/alex/Desktop/taverna-commandline-2.2.0</param-value>
        <description>Absolute path to a directory on the local file system where the Taverna Command Line Tool is located</description>
    </context-param>
    <context-param>
        <param-name>SAVE_TO</param-name>
        <param-value>filesystem</param-value>
        <description>Where to save/load from JSON wirings. Possible values 'filesystem' or 'database'.</description>
    </context-param>
    <context-param>
        <param-name>JSON_WIRINGS_DIR</param-name>
        <param-value>/tmp/json_wirings2</param-value>
       <description>Absolute path to a directory on the local file system where the JSON wirings will be saved. Use when you set SAVE_TO to 'filesystem'; otherwise it si ignored.</description>
    </context-param>
    <servlet>
        <servlet-name>DeleteWireit</servlet-name>
        <servlet-class>net.sf.taverna.portal.wireit.DeleteWireit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListWireit</servlet-name>
        <servlet-class>net.sf.taverna.portal.wireit.ListWireit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RunWireit</servlet-name>
        <servlet-class>net.sf.taverna.portal.wireit.RunWireit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveWireit</servlet-name>
        <servlet-class>net.sf.taverna.portal.wireit.SaveWireit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBaclavaFile</servlet-name>
        <servlet-class>net.sf.taverna.portal.baclava.DisplayBaclavaFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileServingServlet</servlet-name>
        <servlet-class>net.sf.taverna.portal.baclava.FileServingServlet</servlet-class>
    </servlet>
    <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
    <servlet-mapping>
        <servlet-name>DeleteWireit</servlet-name>
        <url-pattern>/DeleteWireit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListWireit</servlet-name>
        <url-pattern>/ListWireit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RunWireit</servlet-name>
        <url-pattern>/RunWireit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveWireit</servlet-name>
        <url-pattern>/SaveWireit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBaclavaFile</servlet-name>
        <url-pattern>/DisplayBaclavaFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServingServlet</servlet-name>
        <url-pattern>/FileServingServlet</url-pattern>
    </servlet-mapping>
</web-app>
